<html>
    <head>
        <title>Call Center App</title>
        <style>
        header {
            background-color: lightgray;
            text-align: center;
            font-size: 30px;
            padding: 10px;
        }
        .searchBox {
            text-align: center;
        }
        </style>
    </head>
    <body>
        <header>
            <img style="height:5%; width:10%" src="/static/logo-airtel-mobile.png">
            <h5> Call Center Console</h5>
        </header>
        <div class="searchBox">
        <h3>Welcome, {{session['username']}}</h3>
        <form action="/details">
            Number:
            <input type="text" name="numero">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        </div>
        <footer style="position: fixed">
            <a href="/logout">Logout</a>
        </footer>

    </body>
</html>


